<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{master.html}">
<head>
    <meta charset="utf-8">
    <title>Administrar géneros</title>
</head>
<body>
<section class="text-center">


    <div layout:fragment="content">
        <div th:if="${msga != null}" class='alert alert-danger' th:text="${msga}" role='alert'></div>
        <a class="btn btn-primary my-3" href="/genres/new" role="button"
           sec:authorize="hasRole('ROLE_ADMIN')">Añadir
            Género</a>
        <div class="card mx-4 mx-md-1 shadow-5-strong" style="
        margin-top: 10px;
        background: hsla(0, 0%, 90%, 0.8);
        ">
            <div class="card-body py-5 px-md-4">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <table class="table table-borderless table-hover">

                            <tbody>
                            <tr th:each="gen : ${allGenre}" th:object="${gen}">
                                <td th:text="${gen.description}"></td>

                                <td sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{/genres/editar/{id} (id=*{nid})}"
                                       class="btn btn-success">Editar</a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" class="text-light ms-3 btn btn-danger"
                                       th:onclick="'eliminarPelicula(' + *{nid} +')'">Eliminar</a>
                                    <form th:id="'eliminarPeliculaForm' + *{nid}"
                                          th:action="@{/genres/eliminar/{id} (id=*{nid})}"
                                          method="post" class="d-none">
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row mt-5">
                            <div class="col-sm-6">
                                <div class="tabular-wrapper">
                                    <div>
                                        <nav th:replace="~{paginator-nav :: paginator}"></nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" role="button"
                           th:href="@{/admin}">Ir a
                            Admin</a>
                    </div>

                    <div layout:fragment="scripts">
                        <script>
                            function eliminarPelicula(id) {
                                if (!confirm('¿Estás seguro de eliminar Genero?')) {
                                    return;
                                }
                                $('#eliminarPeliculaForm' + id).submit();
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>