<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
<meta charset="utf-8">
<title>Administrar Películas</title>
</head>
<body>

  <div layout:fragment="content">
	  <h2>Zona de Administración</h2><br>
	  <a class="btn btn-primary" href="/admin/new" role="button">Añadir película</a>
	  <a class="btn btn-primary" href="/genres/new" role="button">Añadir Género</a>
	  <a class="btn btn-primary" href="/actors" role="button">Gestión de Actores</a>
	  <a class="btn btn-primary" href="/users/listado" role="button">Gestión de Usuarios</a><br>

		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pelicula : ${listMovies}" th:object="${pelicula}">
					<td style="width:150px;">
					   <a th:href="@{'/images/uploads/'+ ${pelicula.image}}" data-fancybox>
					      <img th:src="@{'/images/uploads/'+ ${pelicula.image}}" alt="" class="img-thumbnail w-100">
					   </a>
					</td>
					<td>
						<div th:text="*{title}" class="fs-5 fw-bold"></div>
						<table class="table table-borderless">
							<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th scope="row">Año:</th>
								<td class="text-start" th:text="*{year}"></td>
							</tr>
							<tr>
								<th scope="row">Duración:</th>
								<td class="text-start" th:text="*{duration}"></td>
							</tr>
							<tr>
								<th scope="row">País:</th>
								<td class="text-start" th:text="*{country}"></td>
							</tr>
							<tr>
								<th scope="row">Géneros:</th>
								<td><span class="badge rounded-pull bg-light text-dark me-1"
										  th:each="genero : *{genres}" th:text="${genero.description}"></span></td>
							</tr>
							<tr>
								<th scope="row">Reparto:</th>
								<td>
									<span class="badge rounded-pull bg-light text-dark me-1" th:each="actor : *{actors}">
										<a th:href="@{/actors/actor/} + ${actor.nid}" th:text="${actor.name}"></a>
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row">Synopsis:</th>
								<td class="text-justify" th:text="*{synopsis}"></td>
							</tr>

							</tbody>
						</table>
					</td>
					<td>
					   <a th:href="@{/admin/peliculas/{id}/editar(id=*{nid})}" class="btn btn-success">Editar</a>
					</td>
					<td class="text-end">
						<a href="javascript:void(0)" class="text-light ms-3 btn btn-danger" th:onclick="'eliminarPelicula(' + *{nid} +')'">Eliminar</a>
						<form th:id="'eliminarPeliculaForm' + *{nid}" th:action="@{/admin/peliculas/{id}/eliminar(id=*{nid})}" method="post" class="d-none">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row mt-5">
		   <div class="col-sm-6">
			   <div class="tabular-wrapper">
				   <div>
					   <nav th:replace="~{paginator-nav :: paginator}"></nav>
				   </div>
			   </div>
		   </div>
		</div>
  </div>
  
  <div layout:fragment="scripts">
      <script>
         function eliminarPelicula(id){
        	 if(!confirm('¿Estás seguro de eliminar esta película?')){
        		 return;
        	 }
        	 $('#eliminarPeliculaForm' + id).submit();
         }
      </script>
  </div>
	
</body>
</html>