<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}" lang="en">
<head>
    <meta charset="utf-8">
    <title>Buscador</title>
</head>
<body>

<div layout:fragment="content">
    <h4>Buscador de las películas</h4>
    <form th:action="@{/search/title}" method="get">
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="title"
                   placeholder="Escriba el título de la película">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Título</button>
    </form>
    <br>
    <form th:action="@{/search/name}" method="get">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre del actor</label>
            <input type="text" class="form-control" id="name" name="name"
                   placeholder="Escriba el nombre del actor">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Actor</button>
    </form>
    <br>
    <form th:action="@{/search/genre}" method="get">
        <div class="mb-3">
            <label for="genre" class="form-label">Género</label>
            <input type="text" class="form-control" id="genre" name="genre"
                   placeholder="Escriba el género">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Género</button>
    </form>
    <br>
    <form th:action="@{/search/year}" method="get">
        <div class="mb-3">
            <label for="year" class="form-label">Año</label>
            <input type="number" class="form-control" id="year" name="year"
                   placeholder="Escriba el año">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Año</button>
    </form>

</div>
</body>
</html>