<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="utf-8">
    <title>Inicio</title>
</head>
<body>

<div layout:fragment="content">
    <h4>Buscador de las películas</h4>
    <form th:action="@{/ccursos/nombre}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del curso">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Nombre</button>
    </form>
    <hr>
    <form th:action="@{/ccursos/nombre}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del curso">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Nombre</button>
    </form>
    <hr>
    <form th:action="@{/ccursos/nombre}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del curso">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Nombre</button>
    </form>
    <hr>
    <form th:action="@{/ccursos/nombre}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del curso">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Nombre</button>
    </form>
    <hr>
    <form th:action="@{/ccursos/nombre}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del curso">
        </div>
        <button type="submit" class="btn btn-success">Buscar por Nombre</button>
    </form>
    <hr>
</div>
</body>
</html>