<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{master.html}">
<head>
    <meta charset="utf-8">
    <title>Administrar actores</title>
</head>
<body>

<div layout:fragment="content">
    <h2 class="mb-3">Zona de Gestión de Opiniones</h2>
    <table class="table table-hover" th:object="${critica}">
        <thead>
        <tr>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Opinión</th>
            <th scope="col">Fecha</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-start fst-italic" th:text="*{user.username}">
            <td class="text-start fst-italic" th:text="*{assessment}">
            <td class="text-start fst-italic" th:text="*{date}">
            </td>

            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/reviews/editar/{id} (id=*{id})}" class="btn btn-success">Editar</a>
            </td>
            <td class="text-end" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="javascript:void(0)" class="text-light ms-3 btn btn-danger"
                   th:onclick="'eliminarPelicula(' + *{id} +')'">Eliminar</a>
                <form th:id="'eliminarPeliculaForm' + *{id}" th:action="@{/reviews/eliminar/{id} (id=*{id})}"
                      method="post" class="d-none">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" role="button" th:href="@{/admin}">Ir a Admin</a>
</div>

<div layout:fragment="scripts">
    <script>
        function eliminarPelicula(id) {
            if (!confirm('¿Estás seguro de eliminar actor?')) {
                return;
            }
            $('#eliminarPeliculaForm' + id).submit();
        }
    </script>
</div>

</body>
</html>