<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Usuarios</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/users/guardar}" method="post" th:object="${usuario}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Nombre</label>
            <input type="text" class="form-control" th:field="*{username}" id="username" name="username"
                   placeholder="Escriba el nombre del usuario" required="required">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Clave</label>
            <input type="text" class="form-control" th:field="*{password}" id="password" name="password"
                   placeholder="Escriba la clave del usuario" required="required">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="text" class="form-control" th:field="*{email}" id="email" name="email"
                   placeholder="Escriba el correo del usuario" required="required">
        </div>
        <div class="mb-3">
            <select class="form-select" th:field="*{enable}" name="enable" id="enable">
                <option th:value="1" selected>Activo</option>
                <option th:value="0">Desactivado</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-check-label">Seleccionar ROL:
            </label>
            <br>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" name="roles"
                       th:each="rol : ${allRoles}"
                       th:text="${rol.authority}"
                       th:value="${rol}"
                       th:field="*{roles}"
                >
            </div>
        </div>

        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{id}"/>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/users}">Volver</a>
    <a class="btn btn-primary" role="button" th:href="@{/admin}">Ir a Admin</a>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>