<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de cursos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/cusuarios/guardar/}" method="post" th:object="${usuario}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del usuario" required="required">
        </div>
        <div class="mb-3">
            <label for="clave" class="form-label">Clave</label>
            <input type="text" class="form-control" th:field="*{clave}" id="clave" name="clave"
                   placeholder="Escriba la clave del usuario" required="required">
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="text" class="form-control" th:field="*{correo}" id="correo" name="correo"
                   placeholder="Escriba el correo del usuario" required="required">
        </div>
        <div class="mb-3">
            <select class="form-select" th:field="*{enable}" name="enable" id="enable">
                <option th:value="1" selected>Activo</option>
                <option th:value="0">Desactivado</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-check-label">Seleccionar ROL:
            </label>
            <br>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" name="roles"
                       th:each="rol : ${allRoles}"
                       th:text="${rol}"
                       th:value="${rol}"
                       th:field="*{roles}"
                >
            </div>
        </div>

        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{idUsuario}"/>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/ccursos/}">Ir a Inicio</a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>