<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}" lang="en">
<head>
    <meta charset="utf-8">
    <title>FilmFlow Manager</title>
</head>
<body>

<div layout:fragment="content">
    <div class="bg-light rounded text-center">
        <h4 class="display-6 fw-bold ls-tight">Bienvenidos a FilmFlow<span class="text-primary">Manager</span>!
        </h4>
    </div>
    <div class="row">
        <div class="col-md-3 my-1" th:each="pelicula : ${listMovies}" th:object="${pelicula}">
            <a th:href="@{/movies/peliculas/{id}(id=*{nid})}" class="card shadow-lg" style="text-decoration:none;">
                <img th:src="@{'/images/uploads/'+ ${pelicula.image}}" th:alt="*{title}" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title fs-6" th:text="*{title}"></h2>
                    <p th:text="*{year}" class="text-muted small"></p>
                </div>
            </a>
        </div>

    </div>
    <div class="tabular-wrapper">
        <div>
            <nav th:replace="~{paginator-nav :: paginator}"></nav>
        </div>
    </div>
</div>
</body>
</html>