<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="utf-8">
    <title>Inicio</title>
</head>
<body>

<div layout:fragment="content">
    <div class="bg-light p-5 rounded">
        <h3 class="display-1 text-success">FilmManagement</h3>
    </div>
    <div class="row">
        <div class="col-md-3 my-5" th:each="pelicula : ${listMovies}" th:object="${pelicula}">
            <a th:href="@{/movies/peliculas/{id}(id=*{id})}" class="card shadow-lg" style="text-decoration:none;">
                <img th:src="@{'/images/uploads/'+ ${pelicula.rutaPortada}}" th:alt="*{titulo}" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title fs-6" th:text="*{titulo}"></h2>
                    <p th:text="*{#temporals.format(fechaEstreno,'dd/MM/yyyy')}" class="text-muted small"></p>
                </div>
            </a>
        </div>

    </div>
    <div class="tabular-wrapper">
        <div>
            <nav th:replace="~{paginator-nav :: paginator}"></nav>
        </div>
    </div>
</div>
</body>
</html>