<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de cursos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container px-5 py-5">
    <h1 class="text-center">Registro nuevo usuario</h1>
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/users/registrar}" method="post" th:object="${usuario}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Nombre</label>
            <input type="text" class="form-control" th:field="*{username}" id="username" name="username"
                   placeholder="Escriba el nombre del usuario" required="required">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Clave</label>
            <input type="text" class="form-control" th:field="*{password}" id="password" name="password"
                   placeholder="Escriba la clave del usuario" required="required">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="text" class="form-control" th:field="*{email}" id="email" name="email"
                   placeholder="Escriba el correo del usuario" required="required">
        </div>
        <button type="submit" class="btn btn-dark">Registrarse</button>
    </form>

    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/login/}">Ir a Login</a>

</div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>